#Apple DS_store
.DS_Store

#test workflow files
test.nf

#nextflow cache, work and log
.nextflow/
work/
*.log
*.log.*

#My local working output and data files
output/
data/
software/
databases/PPutida_gRNA_Libraries
papers/

#git readme 
README_git
