profiles {
    local {
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g) -v /Users:/Users'
        }
        process {
            withName:Mergefastq {
                container = 'jacobfenster/bbmerge:1.0'
            }
        }
        process {
        withName:Fastq_to_Fasta {
            container = 'jacobfenster/bbmerge:1.0'
        }
        }
        process {
        withName:Blastn {
            container = 'jacobfenster/blast:v1.0'
        }
        }
    }
}