profiles {
    //profile for apple silicon ARM64 architecture
    local_arm64{
        //change the work directory to have all working files locally stored. iCloud workaround
        workDir = '/Volumes/Extreme_SSD/78K_CRISPRi/work'
        docker {
            enabled = true
            runOptions = '-v /Users:/Users' //give root privlidges to container
        }
        process {
            withName:bbmerge {
                container = 'jacobfenster/ngs-arm64:v1.0'
            }
            
            withName:exact_seed {
                container = 'jacobfenster/ngs-arm64:v1.0'
            }
            
            withName:MAGeCk {
                container = 'jacobfenster/mageck:v1.0'
            }
        }
    }
    //profile for x86_64: 64-bit intel architecture
    local_amd64 {
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g) -v /Users:/Users'
        }
        process {
            withName:Mergefastq {
                container = 'jacobfenster/bbmerge:1.0'
            }
        }
        process {
        withName:Fastq_to_Fasta {
            container = 'jacobfenster/bbmerge:1.0'
            }
        }
        process {
        withName:Blastn {
            container = 'jacobfenster/blast:v1.0'
            }
        }
    }
}